{% load static %} 
    <div class="product-area py-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="site-heading-inline">
                        <h2 class="site-title"><img src="{% static 'img/icon/more.svg" alt>تلفن های همراه</h2>
                        <a href="#">مشاهده بیشتر <i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="row item-2">
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="product-item">
                        <div class="product-img">
                            <span class="type">پرطرفدار</span>
                            <a href="shop-single.html"><img src="{% static 'img/product/p15.png' %}" alt></a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                       data-bs-placement="right" data-tooltip="tooltip" title="نمایش سریع"><i
                                            class="far fa-eye"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                       title="اضافه کردن به علاقه مندی ها"><i class="far fa-heart"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip" title="افزودن برای مقایسه"><i
                                            class="far fa-arrows-repeat"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="shop-single.html">ایرفون بلوتوث</a></h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <span>100.00 ریال</span>
                                </div>
                                <button type="button" class="product-cart-btn">افزودن به سبد خرید</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="shop-single.html"><img src="{% static 'img/product/p16.png' %}" alt></a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                       data-bs-placement="right" data-tooltip="tooltip" title="نمایش سریع"><i
                                            class="far fa-eye"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                       title="اضافه کردن به علاقه مندی ها"><i class="far fa-heart"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip" title="افزودن برای مقایسه"><i
                                            class="far fa-arrows-repeat"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="shop-single.html">ایرفون بلوتوث</a></h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <span>100.00 ریال</span>
                                </div>
                                <button type="button" class="product-cart-btn">افزودن به سبد خرید</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="shop-single.html"><img src="{% static 'img/product/p17.png' %}" alt></a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                       data-bs-placement="right" data-tooltip="tooltip" title="نمایش سریع"><i
                                            class="far fa-eye"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                       title="اضافه کردن به علاقه مندی ها"><i class="far fa-heart"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip" title="افزودن برای مقایسه"><i
                                            class="far fa-arrows-repeat"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="shop-single.html">ایرفون بلوتوث</a></h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <span>100.00 ریال</span>
                                </div>
                                <button type="button" class="product-cart-btn">افزودن به سبد خرید</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="product-item">
                        <div class="product-img">
                            <span class="type new">جدید</span>
                            <a href="shop-single.html"><img src="{% static 'img/product/p18.png' %}" alt></a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                       data-bs-placement="right" data-tooltip="tooltip" title="نمایش سریع"><i
                                            class="far fa-eye"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                       title="اضافه کردن به علاقه مندی ها"><i class="far fa-heart"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip" title="افزودن برای مقایسه"><i
                                            class="far fa-arrows-repeat"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="shop-single.html">ایرفون بلوتوث</a></h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <span>100.00 ریال</span>
                                </div>
                                <button type="button" class="product-cart-btn">افزودن به سبد خرید</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="shop-single.html"><img src="{% static 'img/product/p21.png' %}" alt></a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                       data-bs-placement="right" data-tooltip="tooltip" title="نمایش سریع"><i
                                            class="far fa-eye"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                       title="اضافه کردن به علاقه مندی ها"><i class="far fa-heart"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip" title="افزودن برای مقایسه"><i
                                            class="far fa-arrows-repeat"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="shop-single.html">ایرفون بلوتوث</a></h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <span>100.00 ریال</span>
                                </div>
                                <button type="button" class="product-cart-btn">افزودن به سبد خرید</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="shop-single.html"><img src="{% static 'img/product/p22.png' %}" alt></a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                       data-bs-placement="right" data-tooltip="tooltip" title="نمایش سریع"><i
                                            class="far fa-eye"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                       title="اضافه کردن به علاقه مندی ها"><i class="far fa-heart"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip" title="افزودن برای مقایسه"><i
                                            class="far fa-arrows-repeat"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="shop-single.html">ایرفون بلوتوث</a></h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <span>100.00 ریال</span>
                                </div>
                                <button type="button" class="product-cart-btn">افزودن به سبد خرید</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="product-item">
                        <div class="product-img">
                            <span class="type hot">داغ</span>
                            <a href="shop-single.html"><img src="{% static 'img/product/p23.png' %}" alt></a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                       data-bs-placement="right" data-tooltip="tooltip" title="نمایش سریع"><i
                                            class="far fa-eye"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                       title="اضافه کردن به علاقه مندی ها"><i class="far fa-heart"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip" title="افزودن برای مقایسه"><i
                                            class="far fa-arrows-repeat"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="shop-single.html">ایرفون بلوتوث</a></h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <span>100.00 ریال</span>
                                </div>
                                <button type="button" class="product-cart-btn">افزودن به سبد خرید</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="product-item">
                        <div class="product-img">
                            <a href="shop-single.html"><img src="{% static 'img/product/p24.png' %}" alt></a>
                            <div class="product-action-wrap">
                                <div class="product-action">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                       data-bs-placement="right" data-tooltip="tooltip" title="نمایش سریع"><i
                                            class="far fa-eye"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                       title="اضافه کردن به علاقه مندی ها"><i class="far fa-heart"></i></a>
                                    <a href="#" data-bs-placement="right" data-tooltip="tooltip" title="افزودن برای مقایسه"><i
                                            class="far fa-arrows-repeat"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="shop-single.html">ایرفون بلوتوث</a></h3>
                            <div class="product-rate">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="product-bottom">
                                <div class="product-price">
                                    <span>100.00 ریال</span>
                                </div>
                                <button type="button" class="product-cart-btn">افزودن به سبد خرید</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
