{% load static %}

<div class="product-area related-item">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-heading-inline">
                    <h2 class="site-title">موارد مرتبط</h2>

                </div>
            </div>
        </div>

        <div class="row">
            {% for similar_product in similar_products %}
            <div class="col-md-6 col-lg-3">

                <div class="product-item">
                    <div class="product-img">
                        <a href="shop-single.html"><img src="{{ similar_product.image.url }}" alt></a>
                        <div class="product-action-wrap">
                            <div class="product-action">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#quickview" data-tooltip="tooltip"
                                    title="نمایش سریع"><i class="far fa-eye"></i></a>
                                <button type="button"
                                    class="wishlist-btn {% if similar_product.id in wishlist_items %}is-active{% endif %}"
                                    title="افزودن به علاقه‌مندی‌ها" onclick="addTOwishlist(this,`{{similar_product.id}}`)"  aria-label="افزودن به علاقه‌مندی‌ها">
                                    <span class="icon">
                                        <i class="far fa-heart"></i>
                                    </span>
                                </button>
                                <a href="#" data-tooltip="tooltip" title="افزودن برای مقایسه"><i
                                        class="far fa-arrows-repeat"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="shop-single.html">{{similar_product.title}}</a></h3>
                        <div class="product-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="product-bottom">
                            <div class="product-price">
                                <span>{{similar_product.get_show_price}}</span>
                            </div>
                            <button type="button" class="product-cart-btn" data-bs-placement="right"
                                data-tooltip="tooltip" title="افزودن به سبد خرید">
                                <i class="far fa-shopping-bag"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</div>
</div>