{% load static %}

<form method="post">
    {% csrf_token %}
    <div class="user-area bg py-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="sidebar-top">
                            <div class="sidebar-profile-img">
                                <img src="{{request.user.user_profile.image.url}}" alt>
                                <button type="button" class="profile-img-btn"><i class="far fa-camera"></i></button>
                                <input type="file" name="image" class="profile-img-file">
                            </div>
                            <h5>{{request.user.user_profile.get_fullname}}</h5>
                            <p><a href="https://theme-script.ir/cdn-cgi/l/email-protection" class="__cf_email__"
                                    data-cfemail="d9b8b7adb6b7b099bca1b8b4a9b5bcf7bab6b4">{{request.user.email}}</a></p>
                        </div>
                        <ul class="sidebar-list">
                            <li><a class="active" href="user-dashboard.html"><i class="far fa-gauge-high"></i>
                                    داشبورد</a>
                            </li>
                            <li><a href="user-profile.html"><i class="far fa-user"></i> نمایه من</a></li>
                            <li><a href="order-list.html"><i class="far fa-shopping-bag"></i> فهرست سفارشات من <span
                                        class="badge badge-danger">02</span></a></li>
                            <li><a href="wishlist.html"><i class="far fa-heart"></i> فهرست علاقمندی های من <span
                                        class="badge badge-danger">02</span></a></li>
                            <li><a href="address-list.html"><i class="far fa-location-dot"></i> فهرست آدرس</a></li>
                            </li>
                            <li><a href="user-notification.html"><i class="far fa-bell"></i> اعلان <span
                                        class="badge badge-danger">02</span></a></li>
                            <li><a href="user-message.html"><i class="far fa-envelope"></i> پیام‌ها <span
                                        class="badge badge-danger">02</span></a></li>

                            <button type="submit" class="btn btn-link text-success p-0" style="text-decoration: none;color: #4ade80;transition: all 0.3s ease;transform: translateX(0);"
                                onmouseover="this.style.transform='translateX(-10px)';
                                " onmouseout="this.style.transform='translateX(0)';">
                                <i class="far fa-sign-out"></i> خروج
                            </button>
                        </ul>
                    </div>
                </div>
</form>