{% extends "dashboard/customer/base.html" %}
{% load static %}
{% block title %}ویرایش آدرس{% endblock title %}
{% block header %}
<div class="site-breadcrumb">
    <div class="site-breadcrumb-bg" style="background: url({% static 'img/breadcrumb/01.jpg' %})"></div>
    <div class="container">
        <div class="site-breadcrumb-wrap">
            <h4 class="breadcrumb-title">داشبورد کاربر</h4>
            <ul class="breadcrumb-menu">
                <li><a href="{% url 'website:index' %}"><i class="far fa-home"></i> صفحه اصلی</a></li>
                <li class="active">ویرایش آدرس </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="col-lg-9">
    <div class="user-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="user-card">
                    <div class="user-card-header">
                        <h4 class="user-card-title">ویرایش آدرس </h4>
                        <div class="user-card-header-right">
                            <a href="address-list.html" class="theme-btn"><span class="fas fa-arrow-right"></span>فهرست
                                آدرس</a>
                        </div>
                    </div>
                    <div class="user-form">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>نام</label>
                                        <input type="text" class="form-control" placeholder="نام">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>نام خانوادگی</label>
                                        <input type="text" class="form-control" placeholder="نام خانوادگی">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ایمیل</label>
                                        <input type="text" class="form-control" placeholder="آدرس ایمیل">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>تلفن</label>
                                        <input type="text" class="form-control" placeholder="شماره تلفن">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>آدرس</label>
                                        <input type="text" class="form-control" placeholder="آدرس کامل شما">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="theme-btn"><span class="far fa-save"></span>
                                ذخیره آدرس
                            </button>
                        </form>
                    </div>
                  </div>
                 </div>
             </div>
          </div>
       </div>
     </div>
   </div>
</div>
{% endblock %}