{% extends "base.html" %}
{% load static %}
{% block content %}
{% block title %}سبد خرید{% endblock title %}

<div class="site-breadcrumb">
    <div class="site-breadcrumb-bg" style="background: url({% static 'img/breadcrumb/01.jpg' %})"></div>
    <div class="container">
        <div class="site-breadcrumb-wrap">
            <h4 class="breadcrumb-title">سبد خرید</h4>
            <ul class="breadcrumb-menu">
                <li><a href="index-2.html"><i class="far fa-home"></i> صفحه اصلی</a></li>
                <li class="active">سبد خرید</li>
            </ul>
        </div>
    </div>
</div>

<div class="shop-cart py-100">
    <div class="container">
        <div class="shop-cart-wrap">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-table">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>تصویر</th>
                                        <th>نام محصول</th>
                                        <th>قیمت</th>
                                        <th>مقدار</th>
                                        <th>مجموع </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart_items %}
                                    <tr>
                                        <td>
                                            <div class="shop-cart-img">
                                                <a href="#"><img src="{{ item.product_obj.image.url }}" alt></a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="shop-cart-content">
                                                <h5 class="shop-cart-name"><a
                                                        href="{% url 'shop:product-detail' slug=item.product_obj.slug %}">{{ item.product_obj.title }}</a>
                                                </h5>
                                                {% comment %} <div class="shop-cart-info">
                                                    <p><span>نوع:</span>هدفون</p>
                                                    <p><span>رنگ:</span>سیاه</p>
                                                </div> {% endcomment %}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="shop-cart-price formattedPrice">
                                                <span>{{item.product_obj.get_price}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="shop-cart-qty" dir="ltr">
                                                <select class="form-select form-select-sm mb-3" dir="rtl"
                                                    style="text-align: right; text-align-last: right;"
                                                    onchange="changeProductQuantity('{{ item.product_id }}', this.value)">
                                                    {% with ''|center:item.product_obj.stock as range %}
                                                    {% for _ in range %}
                                                    <option value="{{ forloop.counter }}"
                                                        {% if forloop.counter == item.quantity %} selected {% endif %}>
                                                        {{ forloop.counter }}
                                                    </option>
                                                    {% endfor %}
                                                    {% endwith %}
                                                </select>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="shop-cart-subtotal formattedPrice">
                                                <span>{{item.total_price}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="{% url 'cart:session-remove-product'  %}" class="shop-cart-remove"><i class="far fa-times"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="shop-cart-footer">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="shop-cart-coupon">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="کد کوپن شما">
                                        <button class="theme-btn" type="submit">اعمال کوپن</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-6">
                                <div class="shop-cart-btn text-md-end">
                                    <a href="{% url 'order:checkout' %}" class="theme-btn"> ادامه خرید <span
                                            class="fas fa-arrow-left"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="shop-cart-summary">
                        <h5>خلاصه سبد خرید</h5>
                        <ul>
                            <li><strong>مجموع فرعی:</strong> <span> {{get_total_payment_price}} </span></li>
                            <li><strong>تخفیف:</strong> <span>5.00 ریال</span></li>
                            <li><strong>ارسال:</strong> <span>رایگان</span></li>
                            <li class="shop-cart-total"><strong>مجموع:</strong>
                                <span>{{get_total_payment_price}}</span></li>
                        </ul>
                        <div class="text-end mt-40">
                            <a href="{% url 'order:checkout' %}" class="theme-btn">اکنون تسویه حساب کنید<i
                                    class="fas fa-arrow-left-long"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}

<script>
        function changeProductQuantity(product_id,quantity){
        $.ajax({
            url:"{% url 'cart:session-update-product' %}",
            method: 'POST',
            data:{
                product_id:product_id,
                quantity:quantity,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        success: function(response){
            console.log(response);
            window.location.reload()
        },
        error: function(jqXHR,textStatus,errorThrown){
            console.log(errorThrown)
        }
    });
    }

</script>


{% endblock %}