{% load static %}

 
    <div class="user-area bg py-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="sidebar-top">
                            <div class="sidebar-profile-img">
                                <img src="{{request.user.profile.image.url}}" alt>
                                <button type="button" class="profile-img-btn"><i class="far fa-camera"></i></button>
                                <input type="file" class="profile-img-file">
                            </div>
                            <h5>{{request.user.profile.get_fullname}}</h5>
                            <p><a href="https://theme-script.ir/cdn-cgi/l/email-protection" class="__cf_email__"
                                  data-cfemail="3958574d565750795c41585449555c175a5654">{{request.user.email}}</a></p>
                        </div>
                        <ul class="sidebar-list">
                            <li><a class="active" href="vendor-dashboard.html"><i class="far fa-gauge-high"></i>
                                داشبورد</a></li>
                            <li><a href="vendor-profile.html"><i class="far fa-user"></i> نمایه من</a></li>
                            <li><a href="vendor-product.html"><i class="far fa-layer-group"></i> محصولات</a></li>
                            <li><a href="vendor-add-product.html"><i class="far fa-upload"></i> افزودن محصول جدید</a></li>
                            <li><a href="vendor-order.html"><i class="far fa-shopping-bag"></i> همه سفارش‌ها <span
                                    class="badge badge-danger">02</span></a></li>
                            <li><a href="vendor-payout.html"><i class="far fa-wallet"></i> پرداخت</a></li>
                            <li><a href="vendor-transaction.html"><i class="far fa-credit-card"></i> تراکنش</a>
                            </li>
                            <li><a href="vendor-notification.html"><i class="far fa-bell"></i> اعلان <span
                                    class="badge badge-danger">02</span></a></li>
                            <li><a href="vendor-message.html"><i class="far fa-envelope"></i> پیام‌ها <span
                                    class="badge badge-danger">02</span></a></li>
                            <li><a href="vendor-setting.html"><i class="far fa-gear"></i> تنظیمات</a></li>
                            <li><a href="{% url 'accounts:logout' %}"><i class="far fa-sign-out"></i> خروج</a></li>
                        </ul>
                    </div>
                </div>