{% extends "dashboard/admin/base.html" %}
{% load static %}
{% block title %}جزئیات آدرس{% endblock title %}
{% block header %}
<div class="site-breadcrumb">
    <div class="site-breadcrumb-bg" style="background: url({% static 'img/breadcrumb/01.jpg' %})"></div>
    <div class="container">
        <div class="site-breadcrumb-wrap">
            <h4 class="breadcrumb-title">داشبورد کاربر</h4>
            <ul class="breadcrumb-menu">
                <li><a href="{% url 'website:index' %}"><i class="far fa-home"></i> صفحه اصلی</a></li>
                <li class="active">جزئیات سفارش</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="col-lg-9">
    <div class="user-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="user-card user-order-detail">
                    <div class="user-card-header">
                        <h4 class="user-card-title">جزئیات سفارش {{object.id}}</h4>
                        <div class="user-card-header-right">
                            <a href="{% url 'dashboard:customer:order-list' %}" class="theme-btn"><span class="fas fa-arrow-right"></span>فهرست
                                سفارش</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-borderless text-nowrap">
                            <thead>
                                <tr>
                                    <th>محصول</th>
                                    <th>مقدار</th>
                                    <th>قیمت هر واحد</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order_item in object.order_items.all %}
                                <tr>
                                    <td>
                                        <div class="table-list-info">
                                            <a href="#">
                                                <div class="table-list-img">
                                                    <img src="{{order_item.product.image.url}}">
                                                </div>
                                                <div class="table-list-content">
                                                    <h6>{{order_item.product.title}}</h6>
                                                    <span>شناسه محصول : {{order_item.product.pk}}</span>
                                                </div>
                                            </a>
                                        </div>
                                    </td>
                                    <td>{{order_item.quantity}} عدد</td>
                                    <td class="formatted-price">{{order_item.price}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="order-detail-content">
                                <h5>آدرس حمل و نقل</h5>
                                <p><i class="far fa-location-dot"></i>{{object.get_full_address}}</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="order-detail-content">
                                <h5>خلاصه سفارش</h5>
                                <ul>
                                    <li>تخفیف<span>{{object.coupon.discount_percent}}%</span></li>
                                    <li>مجموع<span>{{object.total_price}}</span></li>
                                     <a href="{% url 'dashboard:admin:order-invoice' pk=object.pk %}" class="theme-btn"><span class="fas fa-arrow"></span>فاکتور</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}