{% extends 'base.html' %}
{% load static %}
{% block title %} لیست محصولات {% endblock title %}

{% block content %}

<div class="site-breadcrumb">
    <div class="site-breadcrumb-bg" style="background: url({% static 'img/breadcrumb/01.jpg' %})"></div>
    <div class="container">
        <div class="site-breadcrumb-wrap">
            <h4 class="breadcrumb-title">لیست محصولات</h4>
            <ul class="breadcrumb-menu">
                <li><a href="{% url 'website:index' %}"><i class="far fa-home"></i> صفحه اصلی</a></li>

            </ul>
        </div>
    </div>
</div>


<div class="shop-area3 bg py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop-sidebar">
                    <div class="shop-widget">
                        <div class="shop-search-form">


                            <h4 class="shop-widget-title">جستجو</h4>
                            <form  method="get">
                                <div class="form-group">
                                    <input type="text" name="q" id="search-query" class="form-control" placeholder="جستجو کنید">
                                    <button type="search"><i class="far fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>



                    <div class="shop-widget">
                        <h4 class="shop-widget-title">دسته بندی ها</h4>
                        <ul class="shop-category-list">
                            {% for category in categories %}
                            <li>
                                <a href="?category_id={{ category.id }}">{{category.title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>



                    <div class="shop-widget">
                        <h4 class="shop-widget-title">برندها</h4>
                        <ul class="shop-checkbox-list">
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand1">
                                    <label class="form-check-label" for="brand1">اپل<span>(12)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand2">
                                    <label class="form-check-label" for="brand2">آدیداس<span>(15)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand3">
                                    <label class="form-check-label" for="brand3">بوسیلوکس
                                        <span>(20)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand4">
                                    <label class="form-check-label" for="brand4">مکالمه<span>(05)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand5">
                                    <label class="form-check-label" for="brand5">کنون اینس<span>(09)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand6">
                                    <label class="form-check-label" for="brand6">فشنکس<span>(25)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand7">
                                    <label class="form-check-label" for="brand7">سامسونگ<span>(19)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand8">
                                    <label class="form-check-label" for="brand8">هیتاچی<span>(23)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand9">
                                    <label class="form-check-label" for="brand9">نایک<span>(13)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand10">
                                    <label class="form-check-label" for="brand10">پاناسونیک<span>(14)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand11">
                                    <label class="form-check-label" for="brand11">پوما<span>(16)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand12">
                                    <label class="form-check-label" for="brand12">شهرستان
                                        لوازم جانبی<span>(17)</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="brand13">
                                    <label class="form-check-label" for="brand13">سایر<span>(18)</span></label>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="shop-widget">
                        <h4 class="shop-widget-title">محدوده قیمت</h4>
                        <div class="price-range-box">
                            <div class="price-range-input">
                                <input type="text" id="price-amount" readonly>
                            </div>
                            <div class="price-range"></div>
                        </div>
                    </div>



                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="col-md-12">
                    <div class="shop-sort">
                        <div class="shop-sort-box">


                            <div class="shop-sorty-label">مرتب سازی بر اساس:</div>
                            <select id="order-by" class="select">
                                <option value="1">مرتب‌سازی پیش‌فرض</option>
                                <option value="5">جدیدترین</option>
                                <option value="2">قدیمی ترین</option>
                                <option value="3">گران ترین</option>
                                <option value="4">ارزان ترین</option>
                            </select>


                             <div class="shop-sorty-label">تعداد در صفحه</div>
                            <select id="page-size-filter" class="select">
                                <option value="6">6</option>
                                <option value="12">12</option>
                                <option value="15">15</option>
                                <option value="18">18</option>
                            </select>
                            <div class="shop-sort-show">تعداد کل محصولات {{total_items}}</div>
                        </div>
                    </div>
                </div>



                <div class="shop-item-wrapper item-3">
                    <div class="row">
                        {% for object in object_list %}
                        <div class="col-md-6 col-lg-4">
                            <div class="product-item">
                                <div class="product-img">
                                    <img src="{{object.image.url}}" class="img-fluid"
                                        style="width: 300px; height: 300px; object-fit: cover;" alt="">
                                    <div class="product-action-wrap">
                                        <div class="product-action">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                                data-tooltip="tooltip" title="نمایش سریع"><i class="far fa-eye"></i></a>
                                            <a href="#" data-tooltip="tooltip" title="اضافه کردن به علاقه مندی ها"><i
                                                    class="far fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="{% url 'shop:product-detail' slug=object.slug %}">{{object.title}}</a>
                                    </h3>
                                    <div class="product-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="product-bottom">
                                        <div class="product-price">
                                            <span class="text-danger text-decoration-line-through">{{object.price}}
                                                تومان</span>
                                            <span class="text-success fw-bold">{{object.price}} تومان</span>
                                        </div>
                                        <button type="button" class="product-cart-btn"
                                            onclick="addToCart('{{object.id}}')"
                                            data-bs-placement="right"
                                            data-tooltip="tooltip" title="افزودن به سبد خرید">
                                            <i class="fas fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            {% if page_obj.has_other_pages %}
            <div class="pagination-area mb-0">
                <div aria-label="نمونه پیمایش صفحه">
                    <ul class="pagination">

                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <button class="page-link" onclick="changePage(`{{ page_obj.previous_page_number }}`)" aria-label="Previous">
                                <span aria-hidden="true"><i class="far fa-arrow-right"></i></span>
                            </button>
                        </li>
                        {% endif %}


                        {{ page_obj.page_range }}
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                    <li class="page-item"><button class="page-link" onclick="changePage(`{{i}}`)">{{ i }}</button></li>
                            {% endif %}
                             {% endfor %}


                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <button class="page-link" onclick="changePage(`{{ page_obj.next_page_number }}`)" aria-label="Next">
                                <span aria-hidden="true"><i class="far fa-arrow-left"></i></span>
                            </button>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            {% endif %}

         </div>
      </div>
    </div>
</div>
{% endblock content %}




{% block extra_js %}

<script>

    $( document ).ready(function(){
        let current_url_params = new URLSearchParams(window.location.search)
        $("#page-size-filter").val(current_url_params.get("page_size") || "" )
        $("#order-by-filter").val(current_url_params.get("order-by") || "" )
        $("#search-query-filter").val(current_url_params.get("q") || "" )
        $("#min-price-filter").val(current_url_params.get("min-price") || "" )
        $("#max-price-filter").val(current_url_params.get("max-price") || "" )
        $("#category-id-filter").val(current_url_params.get("category-id") || "" )
    }); 

    $('#page-size-filter').change(function(){
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("page_size",selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });

    $('#order-by-filter').change(function(){
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("order_by",selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });

</script>

<script>
    function changePage(page_number){
        let current_url_params = new URLSearchParams(window.location.search)
        current_url_params.set("page",page_number)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    }
</script>



{% endblock %} 