{% extends 'base.html' %}
{% load static %}
{% block title %}ثبت سفارش{% endblock title %}
{% block header %}
<div class="site-breadcrumb">
    <div class="site-breadcrumb-bg" style="background: url(assets/img/breadcrumb/01.jpg)"></div>
    <div class="container">
        <div class="site-breadcrumb-wrap">
            <h4 class="breadcrumb-title">تسویه حساب کامل شد</h4>
            <ul class="breadcrumb-menu">
                <li><a href="index-2.html"><i class="far fa-home"></i> صفحه اصلی</a></li>
                <li class="active">تسویه حساب کامل شد</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
{% block content %}
<div class="shop-checkout-complete py-120">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="checkout-complete-content">
                    <div class="checkout-complete-icon"><i class="far fa-check"></i></div>
                    <h3>از سفارش شما متشکریم!.</h3>
                    <p>سفارش شما ثبت شده است و در اسرع وقت پردازش خواهد شد. حتماً توجه داشته باشید
                        از
                        شماره سفارش شما که <b>38HF654DWR</b> است. به زودی ایمیلی با
                        تائیدیه
                        سفارش شما.</p>
                    <a href="{% url 'website:index' %}" class="theme-btn">به خرید برگردید<i class="fas fa-arrow-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}